<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>工研院檔案傳輸系統 ITRI Security File Transmission System</title>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$(".stripeMe tr").mouseover(function() {$(this).addClass("over");}).mouseout(function() {$(this).removeClass("over");});
$(".stripeMe tr:even").addClass("alt");
});
</script>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/redmond/jquery-ui-1.10.2.custom.css" />
</head>

<body >
	<div class="wrapper-page">
    	<div class="header">
        	<a href="#" target="_self"><div class="logo"><h1>工研院檔案傳輸系統</h1></div></a>
            <div class="menu">
            <div class="btn"><a href="#" target="_self">檔案傳送</a></div>
            <div class="btncurrent"><a href="#" target="_self">檔案接收狀況</a></div>
            <div class="btn"><a href="#" target="_self">使用說明</a></div>
            <div class="btn"><a href="#" target="_self">系統簡介</a></div>
            </div>
        </div><!--{* header *}-->
        <div class="body">
        	
            <div class="wrapper-content font-gray">
            
            <span class="stripeMe">
<table width="870" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="100">上傳時間</th>
    <th>主旨</th>
    <th>收件者</th>
    <th width="80">內容</th>
  </tr>
  <tr>
    <td align="center">2013-03-25</td>
    <td>會議所需文件檔</td>
    <td>劉玄德、張冀德、關雲長、趙子龍</td>
    <td align="center" class="font-blue font-bold"><a href="#">檢視</a></td>
  </tr> 
   <tr>
    <td align="center">2013-03-25</td>
    <td>會議所需文件檔</td>
    <td>劉玄德、張冀德、關雲長、趙子龍</td>
    <td align="center" class="font-blue font-bold"><a href="#">檢視</a></td>
  </tr>
   <tr>
    <td align="center">2013-03-25</td>
    <td>會議所需文件檔</td>
    <td>劉玄德、張冀德、關雲長、趙子龍</td>
    <td align="center" class="font-blue font-bold"><a href="#">檢視</a></td>
  </tr>
</table>

            </span>
           
            </div><!--{* wrapper-content *}-->
            
        </div><!--{* body *}-->
        <div class="footer">
        </div><!--{* footer *}-->
    </div><!--{* wrapper-page *}-->


</body>
</html>
