<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>工研院檔案傳輸系統 ITRI Security File Transmission System</title>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$(".stripeMe tr").mouseover(function() {$(this).addClass("over");}).mouseout(function() {$(this).removeClass("over");});
$(".stripeMe tr:even").addClass("alt");
});
</script>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/redmond/jquery-ui-1.10.2.custom.css" />
</head>

<body >
	<div class="wrapper-page">
    	<div class="header">
        	<a href="#" target="_self"><div class="logo"><h1>工研院檔案傳輸系統</h1></div></a>
            <div class="menu">
            <div class="btn"><a href="#" target="_self">檔案傳送</a></div>
            <div class="btn"><a href="#" target="_self">檔案接收狀況</a></div>
            <div class="btncurrent"><a href="#" target="_self">使用說明</a></div>
            <div class="btn"><a href="#" target="_self">系統簡介</a></div>
            </div>
        </div><!--{* header *}-->
        <div class="body">
        	
            <div class="wrapper-content">
<div class="fullblock font-gray lineheight03">
<h3>系統需求：</h3>
本系統建議使用 IE 4.01 以上版本，800x600 的螢幕解析度。
<br /><br />
<h3>系統說明：</h3>
<ol>
<li>本系統一次傳輸的檔案大小總和上限為2G，若檔案較大，則整個傳輸過程需視當時的網路流量而定，且失敗率會相對提昇。</li>
<li>所有上傳的檔案將在上傳 7 天後由系統自動刪除，「傳檔者」無需手動刪除上傳之檔案。</li>
<li>所有上傳的檔案由系統自動維護，一般使用者無法直接存取到檔案，傳檔者毋須擔心檔案遭「非收檔者」存取（若收檔者任意傳送加密網址給他人，則不在此限）。</li>
<li>使用本系統進行檔案上傳時，瀏覽器請勿關閉script執行權限，否則將無法順利上傳檔案。</li>
</ol>
<h3>院內同仁注意事項：</h3>
<ol>
<li>本服務提供工研院同仁，因公務上需求而必須傳送大型檔案時使用。</li>
<li>本服務必須經過身份認證後方可使用，「使用者帳號」為「全院 ITRI AD 網域(Domain)」的帳號(同仁報到時即自動建立)。</li>
<li>本服務允許同仁同時傳送多個檔案，且檔案大小不做任何限制。若檔案過大時，則傳輸情況必須視當時網路流量狀況而定，且失敗率會相對提昇。</li>
<li>若同仁所要傳送的檔案大小超過 50 MB，則建議同仁採取其他途徑(製作成光碟片或高容量的儲存媒體如 ZIP, MO, JAZ) 來傳送，以減少您等待的時間，並可節省網路頻寬。</li>
</ol>
<h3>合作夥伴注意事項：</h3>
<ol>
<li>本服務提供與本院有業務往來之合作夥伴，傳送檔案給本院各單位或同仁時使用。</li>
<li>本服務限定「收檔者」為「工研院同仁」。</li>
<li>任何有業務往來的合作夥伴均可以申請帳號。</li>
<li>帳號 90 天未使用，系統將自動寄發 E-mail 以確認延長使用期後或停止使用。</li>
<li>所有的帳號申請作業一律採用 E-mail 認證，因此，申請人必須有可收發 E-mail 之電子郵件信箱方能申請帳號。</li>
<li>若您需要上傳檔案，但是對系統操作有困難，可參考簡易的檔案上傳步驟說明文件：瀏覽文件。</li>
<li>本院同仁若有任何問題，請洽資訊服務中心服務窗口：18899</li>
</ol>
維護單位/工研院 資訊技術服務中心 <br />
服務電話/03-5918899
</div>            
     
           
            </div><!--{* wrapper-content *}-->
            
        </div><!--{* body *}-->
        <div class="footer">
        </div><!--{* footer *}-->
    </div><!--{* wrapper-page *}-->


</body>
</html>
