<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>工研院檔案傳輸系統 ITRI Security File Transmission System</title>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$(".stripeMe tr").mouseover(function() {$(this).addClass("over");}).mouseout(function() {$(this).removeClass("over");});
$(".stripeMe tr:even").addClass("alt");
});
</script>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/redmond/jquery-ui-1.10.2.custom.css" />
</head>

<body >
	<div class="wrapper-page">
    	<div class="header">
        	<a href="#" target="_self"><div class="logo"><h1>工研院檔案傳輸系統</h1></div></a>
            <div class="menu">
            <div class="btn"><a href="#" target="_self">檔案傳送</a></div>
            <div class="btn"><a href="#" target="_self">檔案接收狀況</a></div>
            <div class="btn"><a href="#" target="_self">使用說明</a></div>
            <div class="btncurrent"><a href="#" target="_self">系統簡介</a></div>
            </div>
        </div><!--{* header *}-->
        <div class="body">
        	
            <div class="wrapper-content">
<div class="fullblock font-gray lineheight03">
本系統提供工研院同仁間或同仁與合作夥伴間透過 Web 化介面傳送大型檔案的服務，讓同仁與合作夥伴可輕鬆且有效率的交換電子檔案。<br />
本系統的特色為：
<ol>
<li>「傳檔者」將檔案上傳至本系統並指定「收檔者」，系統會自動發送 E-mail 通知收檔者上網領取檔案。</li>
<li>在檔案的傳送過程中，只有指定的收檔者可以領取到傳檔者所傳送之檔案，而一般人並無法直接存取到不屬於他的檔案。</li>
<li>本系統採 Web 化設計，使用者不需要使用任何的 FTP 工具即可輕鬆上傳或下載檔案。</li>
<li>本系統採用 SSL 傳輸加密設計，整體傳送過程均採加密傳輸，無資料外洩之疑慮。</li>
<li>本系統依加密編碼之URL取檔，請勿任意將您獨有的URL轉寄他人。</li>
</li>本系統僅限公務使用，使用者不得傳送未授權的軟體或非公務相關檔案。</li>
</ol>
本院同仁若有任何問題，請洽資訊服務中心服務窗口：18899<br />
維護單位/工研院 資訊技術服務中心 <br />
服務電話/03-5918899
</div>            
     
           
            </div><!--{* wrapper-content *}-->
            
        </div><!--{* body *}-->
        <div class="footer">
        </div><!--{* footer *}-->
    </div><!--{* wrapper-page *}-->


</body>
</html>
