<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebAppl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--主要連線字串-->
    <add key="DSN.charity" value="Data Source=140.96.147.18;User ID=newsftsdb;Password=newsftsp#%ass;Initial Catalog=new_sfts"/>
    <!--Common資料庫連結字串-->
    <add key="Common" value="Data Source=ITRINTSB,6333;User ID=pubSFTSDB;Password=6md2h7qbgs;Initial Catalog=SFTSDB"/>
    <!--測試區路徑-->
    <!--<add key="itridpr_mrlpub" value="Data Source=SQL2K5T,5555;User ID=pubmrlpub;Password=p%#ass;Initial Catalog=mclpub"/>-->
    <add key="SSODebug" value="true"/>
    <add key="SSODebug.USER.ACCOUNT" value="529130"/>
    <add key="source_path" value="D:\uploads\"/>
    <add key="source_zip_path" value="C:\Zippath\"/>
    <!--<add key="source_path" value="\\61.61.255.225\uploads\" />
        <add key="source_zip_path" value="\\61.61.255.225\Zippath\" />-->
    <!--測試區,上線區-->
    <add key="EmailAccount" value=""/>
    <add key="EmailPassword" value=""/>
    <add key="EmailFromAddress" value="webftp@itri.org.tw"/>
    <add key="EmailSmtpClient" value="pnmail.itri.com.tw"/>
    <add key="SysWhere" value=""/>
    <!--系統開發人員Email-->
    <add key="DevEmail" value="itri529130@itri.org.tw"/>
    <!--><add key="MailUrl" value="http://sfts.itri.org.tw/sfts/"/> -->
    <add key="MailUrl" value="http://webftp1.itri.org.tw/sfts/"/>
  </appSettings>
  <connectionStrings/>
  <location path="sfts/handler/AddComp.ashx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="sfts/enVersion/handlerEn/AddCompEn.ashx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <system.web>
    <httpRuntime maxRequestLength="2097151" executionTimeout="999"/>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            <authentication> 區段可以用來設定 ASP.NET 
          使用的安全性驗證模式，以識別連入的
          使用者。 
        -->
    <authentication mode="Windows"/>
    <!--
            <customErrors> 區段可以用來設定
            在執行要求期間發生未處理
            錯誤時所要執行的動作。具體來說，
            它可以讓開發人員設定要顯示的 HTML 錯誤網頁
            以取代錯誤堆疊追蹤。
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages styleSheetTheme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="SFTS/default.aspx"/>
      </files>
    </defaultDocument>
    <isapiFilters>
      <filter name="SiteMinder Agent-32" path="C:\Program Files\CA\webagent\win32\bin\ISAPI6WebAgent.dll" preCondition="bitness32"/>
      <filter name="SiteMinder Agent" path="C:\Program Files\CA\webagent\win64\bin\ISAPI6WebAgent.dll" preCondition="bitness64"/>
    </isapiFilters>
    <handlers>
      <add name="handler-wa" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files\CA\webagent\win64\bin\ISAPI6WebAgent.dll" resourceType="Unspecified" requireAccess="None" preCondition="bitness64"/>
      <add name="handler-wa-32" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files\CA\webagent\win32\bin\ISAPI6WebAgent.dll" resourceType="Unspecified" requireAccess="None" preCondition="bitness32"/>
    </handlers>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/NoResponse.html" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <!-- 
        需要 system.webServer 區段才能在 Internet Information Services 7.0 下
        執行 ASP.NET AJAX。舊版的 IIS 則不需要。
    -->
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <WebAppl.Properties.Settings>
      <setting name="WebAppl_WebReference_WebService1" serializeAs="String">
        <value>http://webftp1.itri.org.tw/sfts/WebServer/WebService1.asmx</value>
      </setting>
    </WebAppl.Properties.Settings>
  </applicationSettings>
</configuration>